body {
  width: auto;
  height: 100%;
  background-color: #21244d;
  color: white;
  margin: 0;
}

.menu {
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #2d2de9;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  width: 100%;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  transition: background-color 0.3s ease;
}

.menu.menu-white-bg {
 background-color: rgba(255, 255, 255, 0.8);
 color: black;
}

.menu p {
  margin: 0;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
}

.menu p:hover {
  color: #2d2de9;
}


.dangky {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: chocolate;
  transition: 1s;
  border-radius: 10%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
}

.dangky::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  transition: 1s;
  transform-origin: center;
}

.dangky::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  transition: 1s;
}

.dangky:hover::before,
.dangky:hover::after {
  transform: scale(0)
}

.dangky:hover {
  box-shadow: inset 0px 0px 25px #ebebf4;
  transform: scale(1.15);
  color: #2d2de9;
}

.info {
  text-align: center;
  margin-top: 100px;
}

.img-logo-cntt{
border-radius: 10px;
height: 70px;
width: 70px;
margin-bottom: 10px;
margin-top: 5px;
margin-left: 5px;
}

.info-img-background {
  margin: auto;
  height: 247px;
  width: 396px;
}

.div-thamgia {
  text-align: center;
}

.thamgia {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.thamgia::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  transition: 1s;
  transform-origin: center;
}

.thamgia::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  transition: 1s;
}

.thamgia:hover::before,
.thamgia:hover::after {
  transform: scale(0)
}

.thamgia:hover {
  box-shadow: inset 0px 0px 25px #ebebf4;
  transform: scale(1.15);
  color: #2d2de9;
}

.info-paragraph1,
.info-paragraph2 {
  font-size: 25px;
  font-weight: 700;
  font-family: Verdana, sans-serif;
}

.form {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: #0d123c;
  font-family: 'Roboto Slab', serif;
}

.popup form {
  left: 0;
  right: 0;
  position: absolute;
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1000px;
  background-color: #f1f3f4;
}

.popup h2 {
  margin-top: 0;
}

.dangky-nameteam input[type=text] {
  width: 33%;
  height: 15px;
  padding: 12px 20px;
  margin: 10px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f4d9c3;
  font-size: 16px;
}

.dangky-name input[type=text] {
  width: 685px;
  height: 15px;
  padding: 12px 20px;
  margin: 10px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f4d9c3;
  font-size: 16px;
}

.popup input[type=email] {
  width: 43%;
  height: 15px;
  padding: 12px 20px;
  margin: 10px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f4d9c3;
  font-size: 16px;
}

.popup input[type=tel] {
  width: 23%;
  height: 15px;
  padding: 12px 20px;
  margin: 0px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f4d9c3;
  font-size: 16px;
}


.popup input[type=submit] {
  background-color: #ff6a00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 16px;
  font-weight: bold;
}

.popup input[type=submit]:hover {
  background-color: #45a049;
}

.popup label {
  display: block;
  font-weight: bold;
}


#close-button {
  color: red;
  right: 0;
  position: absolute;
  float: right;
  top: 0;
  cursor: pointer;
  background-color: #f1f3f4;
  border: none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dangky-hangmuc,
.dangky-nameteam {
  display: flex;
}

.line {
  color: #fe3c00;
}

::placeholder {
  font-family: 'Roboto Slab', serif;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 3px;
  box-shadow: rgba(13, 17, 60, 0.41) 0px 15px 20px -15px;
  background-color: rgba(255, 106, 0, 0.749);
}

.review{
  transition: transform 0.3s ease;
}

.review:hover {
  transform: scale(1.05);
}

.h-review {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Roboto Mono', monospace;
}

.p-review {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.div-review {
  width: 50%;
  height: 50%;
  transition: opacity 0.3s ease;
}

.box-review {
  background-color: rgba(243, 65, 11, 0.472);
  height: 70%;
  width: 70%;
  border-radius: 10px;
  box-shadow: rgba(13, 17, 60, 0.41) 0px 15px 20px -15px;
  margin-bottom: 50px;
}

.box-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
  transition: transform 0.3s ease;
  font-family: 'Roboto Slab', serif;
}

.ladi-headline,
.box-headline {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.box1-inf,
.box2-inf,
.box3-inf {
  margin-top: 10px;
  background-color: #21244D;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;

}

.div-box1,
.div-box2,
.div-box3 {
  margin-top: 10px;
  background-color: #21244D;
  padding: 10px;
  border-radius: 5px;
}


.line-rs-b {
  width: 630px;
  border-radius: 10px;
  border-bottom: #ff6a00 5px solid;
  margin-left: 50px;
}

.reason,
.thele,
.prize,
.ketqua {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 50px;
}

.img-para-container {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  border-bottom: #888 1px solid;
  height: 300px;
}

.img {
  display: flex;
}

.img1,
.img2,
.img3 {
  margin-top: 70px;
  width: 33%;
  text-align: center;
}

.img img {
  height: 90px;
  width: 90px;
}

.para {
  display: flex;
}

.p1,
.p2,
.p3 {
  width: 33%;
  text-align: center;
}

.doituong,
.hinhthuc,
.luuy {
  display: flex;
}

.p4,
.p6,
.p8,
.thoigian {
  width: 20%;
  text-align: center;
  font-weight: bold;
}



.p4,
.p5,
.p6,
.p7,
.p8,
.p9 {
  margin-left: 50px;
  margin-top: 50px;
}

.thele-container {
  font-family: 'Roboto Mono', monospace;
  border-bottom: #888 1px solid;
  height: 850px;
}

.line-thele {
  margin-left: 100px;
  margin-top: 50px;
  width: 835px;
  border-bottom: #888 1px solid;
}

.thoigian {
  font-family: 'Roboto Mono', monospace;
  margin-left: 50px;
  font-weight: bold;
}

.div-prize {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.div-prize ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.prize1,
.prize2 {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100px;
  border-radius: 20px;
  overflow: hidden;
  filter: grayscale(80%);
  transition: .5s;
  padding: 10px 200px;
}

.prize1 {
  margin-right: 10px;
}

.prize1 span,
.prize2 span {
  border: #149CEA solid;
  position: absolute;
  bottom: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(196, 194, 194, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #030d28;
  transition: .5s;
}

.prize1 span:hover,
.prize2 span:hover {
  cursor: pointer;
  background: rgb(243, 65, 11);
  color: #ffffff;
}

.expand {
  width: 100px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(0, 238, 255), 0 0 50px rgb(0, 238, 255);
  filter: grayscale(0);
}


.p-pr1,
.p-pr2,
.p-pr3,
.p-pr4,
.p-pr5,
.p-pr6,
.p-pr7 {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

.p-p {
  display: none;
}

.prize3 {
  margin-left: 200px;
  text-align: right;
  overflow: hidden;
}

.prize-container {
  font-family: Verdana, sans-serif;
  border-bottom: #888 1px solid;
  height: auto;
}

.p-hm1, .p-hm2{
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: larger;
  font-weight: bold;
}

.slideshow-container {
  position: relative;
  width: 2112px;
  height: 700px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.07);
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 35px;
  font-weight: bold;
}

.slide img {
  width: 696px;
  height: 510.391;
  object-fit: cover;
  margin-top: 50px;
  border-radius: 15px;
  transition: all 1s ease-in-out;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 100px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.prev:hover, .next:hover {
  opacity: 0.7;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

[data-aos] {
  opacity: 0;
  transition-duration: 1s;
}

[data-aos="fade-right"] {
  transform: translateX(-50px);
}

[data-aos="fade-left"] {
  transform: translateX(50px);
}

[data-aos="fade-up"] {
  transform: translateY(50px);
}

[data-aos="fade-down"] {
  transform: translateY(-50px);
}

[data-aos].aos-animate {
  opacity: 1;
  transform: translateX(0);
}




